ul {
  list-style: none;
  padding: 0;
}
.octodex {
  display: flex;
  position: relative;
}
a first-child {
  flex: row;
  position: relative;
}
.octocat > a > img {
  width: 300px;
  border: 1px solid rgb(206, 206, 206);
  margin: 5px;
  position: relative;
  border-bottom-right-radius: 4px;
}
.authors > li > a > img {
  width: 20px;
  position: relative;
  display: inline-block;
  align-items: center;
}
.image-footer {
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
  color: rgb(206, 206, 206);
  align-items: center;
  padding-bottom: 5px;
  margin: 5px;
}
.image-number::before {
  content: "#";
  position: relative;
}
.image-caption {
  display: flex;
  align-items: center;
}
.octocat::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #cccccc transparent transparent transparent;
  position: absolute;
  top: 306px;
  left: 288px;
}
span {
  padding: 0px 5px;
  align-items: center;
}
a {
  color: black;
  text-decoration: none;
}
.octocat {
  position: relative;
}
